    /*Position Relative adi formada olan*/
.main{
    width: 150px;
    min-height: 150px;
    background: red;
    float: left;

    position: relative;
    /*top: 100px;*/
    /*bottom: ;*/
    /*left: 50px;*/
    /*right: ;*/

}

.main2{
    width: 150px;
    min-height: 150px;
    background: blue;
    float: left;
    /*z-index: 2;*/
    position: relative;
    left: 100px;
    top: 50px;
    /*margin-left: 150px;*/
}